body {
    background-image: url('../images/background2.jpg'); /* Ruta relativa a la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el cuerpo */
    background-position: center; /* Centra la imagen */
    color: white; /* Color de texto para que sea legible en la imagen de fondo */
    display: flex;
}

.container {
    width: 100%; /* Ancho del cuadrado */
    height: 600px; /* Alto del cuadrado */
    background-color: rgba(19, 94, 9, 0.9); /* Color de fondo del cuadrado */
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderer-table {
    width: 70%;
    height: 60%;
    border-collapse: collapse;
    border: 5px solid white; /* Establece un borde de 1px sólido de color negro */
}

th,
td {
    border: 5px solid white; /* Establece un borde de 1px sólido de color negro */
    padding: 8px;
    text-align: center;
}

.numbers {
    font-size: 80px;
}

input {
    width: 80%;
    padding: 15px;
    text-align: center;
    padding: 15px;
    font-size: 80px;
}

button {
    padding: 15px;
    width: 100%;
    height: 80%;
    font-size: 40px;
    background-color: #FFF67E;
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

button:hover {
    background-color: blue;
    color: white;

}

.boton_pasar {
    background-color: #BFEA7C;
    color: black;
    width: 100%;
    
}

.boton_pasar:hover {
    background-color: blue;
    color: white;
}

#verificar-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.correct {
    background-color: #4CAF50;
}

.incorrect {
    background-color: #FF5733;
}

/* Estilos para emojis */
.emoji {
    font-size: 80px;
    vertical-align: middle;
    margin-left: 5px;
    border: none; 
}

.green-button {
    background-color: #FFF67E;
    color: black;
}

.red-button {
    background-color: red;
    color: white;
}